@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border-radius: 20px;
  width: 350px;
}

img {
  max-width: 100%;
  border-radius: 15px;
}

.info {
  margin: 10px;
  padding: 10px;
}

h2 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  padding: 0 5px;
  margin-bottom: 10px;
}

p {
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
  padding: 0 25px;
  margin-top: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  .card {
    width: 320px;
  }
}

@media (max-width: 450px) {
  .card {
    width: 80%;
  }
}
